.back {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 93%;
    background-color: rgb(52, 5, 80, 0.7);
    font-size: x-large;
    text-align: center;
    color: white;
    border-radius: 16px;
    text-decoration: none;
}

.image {
    width: 180px;
    text-align: center;
}

.buy-card {
    position: absolute;
    bottom: 10px;
    left: 1%
}

.counter {
    color: white;
}

.price {
    position: relative;
    text-align: center;
    color: white;
}

.quantity {
    text-align: center;
}

.addInDeck {
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(37, 45, 63);
    color: white;
    width: 22px;
    height: 22px;
}

.removeInDeck {
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(37, 45, 63);
    color: white;
    height: 22px;
    width: 22px;
    display: block;
}

.imageDiv {
    vertical-align: middle;
    position: relative;
    height: 100%;
}

.buttonsDiv {
    display: flex;
    justify-content: left;
    flex-direction: column;
    position: relative;
    top: 5vh;
    left: 0.5vw;
}

.cardImage {
    flex: 1;
    position: relative;
}