* {
    font-family: sans-serif;
}

.back {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 93%;
    background-color: rgb(52, 5, 80, 0.7);
    font-size: x-large;
    text-align: center;
    color: white;
    border-radius: 16px;
    text-decoration: none;
}

.image {
    display: flex;
    flex-direction: column;
    width: 180px;
    text-align: center;
    cursor: pointer;
    max-height: 350px;
}

.buy-card {
    position: absolute;
    bottom: 10px;
    left: 1%
}

.counter {
    color: white;
}

.price {
    padding-top: 0px;
    text-align: center;
    color: white;
}

.quantity {
    text-align: center;
}

.addInDeck {
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(37, 45, 63);
    color: white;
    width: 22px;
    height: 22px;
}

.removeInDeck {
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(37, 45, 63);
    color: white;
    height: 22px;
    width: 22px;
    display: block;
}

.imageDiv {
    vertical-align: middle;
    position: relative;
}

.buttonsDiv {
    display: flex;
    justify-content: left;
    position: relative;
    top: 5vh;
    left: 0.5vw;
}

.cardImage {
    flex: 1;
    position: relative;
}

.addAndRemove {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addAndRemoveButton {
    display: flex;
    font-weight: bold;
    padding: 0px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    height: 20px;
    width: 20px;
    background-color: rgb(19, 21, 37);

}

.commanderImageDiv {
    display: flex;
    flex-direction: column;
}

.buttonsFlex {
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 10px;
    background-color: rgb(19, 21, 37);
    color: white;
}

.addedAlert {
    position: absolute;
    top: 330px;
    left: 125px;
    background-color: white;
    opacity: 0.8;
    color: black;
    border-radius: 5px;
    width: 100px;
}