.back {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 93%;
    background-color: rgb(52, 5, 80, 0.7);
    font-size: x-large;
    text-align: center;
    color: white;
    border-radius: 16px;
    text-decoration: none;
}

.image {
    border-radius: 16px;
}

.buy-card {
    position: absolute;
    bottom: 10px;
    left: 1%
}

.add-card {
    position: absolute;
    bottom: 10px;
    left: 85%;
}

.counter {
    color: white;
}

.price {
    color: white;
}