.flexcontainer {
    display: flex;
    height: 100vh;
}

.addedCards {
    width: 50vw;
    margin-top: 0px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 10px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.addedCards::-webkit-scrollbar {
    display: none;
}

.homediv {
    width: 50vw;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.homediv::-webkit-scrollbar {
    display: none;
}

.cost {
    color: white;
}

.header {
    display: flex;
    position: sticky;
    height: 2vh;
    border-right: solid white 2px;
    color: white;
    border-bottom: solid white 1px;
    background-color: rgb(37, 45, 63);
    border-bottom: 1px white solid;
    position: sticky;
    top: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

.deckCost {
    font-size: 14px;
    padding-left: 15px;
    padding-top: 2px;
}

.commanderDiv {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
}

.checkBox {
    color: white;
}

body {
    color: white;
}

.dropdown {
    font-size: 14px;
    padding-left: 20px;
}

.section {
    font-size: 14px;
    width: 100px;
    margin-top: 0px;
}

.section2 {
    border-right: solid 2px white;
    width: 220px;
    margin-left: 10px;
    font-size: 14px;
}

.cards {
    margin-left: 1.5vw;
}

.container {
    border-left: white solid 4px;
    row-gap: 0;
    height: 100vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}
.save {
    margin-left: 8px;
}

.type {
    text-align: center;
    padding-bottom: 0px;
}

.cardDiv {
    width: 180px;
}

.body {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100%;
}

.body::-webkit-scrollbar {
    display: none;
}

.popupDiv {
    background-color: rgb(37, 45, 63);
    height: 20vh;
    width: 20vw;
    position: absolute;
    border: 2px solid white;
    bottom: 0vh;
    left: 5vw;
    box-shadow: 1px 1px rgb(37, 45, 63);
    border-radius: 5px;
}

.deckButtons {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.deckName {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
}

.deckInput {
    font-size: xx-large;
    text-align: center;
    color: white
}

input.deckInput[type=text] {
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px rgb(9, 17, 34);
    background-color: rgb(77, 103, 160);
}

.commanderImage {
    height: 350px;
}