.filterOptions {
    display: flex;
    flex-direction: column;
}

.cardDiv {
    grid-area: main-b;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cardDiv::-webkit-scrollbar {
    display: none;
}


.title {
    display: grid;
    grid-template-columns: 8vw 80vw 10vw;
    grid-template-rows:   5vh 45vh 50vh;
    grid-template-areas: 
    "sidebar title edit"
    "sidebar main-t  main-t"
    "sidebar main-b  main-b"
    ;
    column-gap: 0px;
    row-gap: 0px;
}

.commander {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas: 
    ". commander graph";
    height: 500px;
    display: grid;
    justify-content: center;
    grid-area: main-t;
    margin-bottom: 0px;
}

.filter {
    height: 100vh;
    grid-area: sidebar;
    width: 140px;
    background-color: rgb(19, 21, 37);
}

.deckName {
    grid-area: title;
    text-align: center;
}


.editButton {
    grid-area: edit;
    border-radius: 15px;
    box-shadow: 1px 1px black;
    color: white;
    background-color: rgb(19, 21, 37);
}

.type {
    padding-left: 20px;
}

.typeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.num {
    padding-left: 20px;
}

.color {
    padding-left: 20px;
}

.header {
    position: sticky;
}

.graph {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    grid-area: graph;
    color: white;
}

.image {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-area: commander;
}