.fishBowl {
    display: grid;
    grid-template-areas: 
        "in-play artifacts-enchantments command-zone"
        "lands lands graveyard-exile"
        "hand hand deck"
    ;
    grid-template-columns: 50% 32% 18%;
    grid-template-rows: 33vh 33vh 33vh;
    background-color: rgb(37, 45, 63);
    width: 100vw;
    height: 100vh;
}

.inPlay {
    grid-area: in-play;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graveyard {
    grid-area: graveyard-exile;
}

.cardBack {
    width: 180px
}

.deck {
    display: flex;
    grid-area: deck;
    justify-content: center;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drawButton {
    width: 180px;
    height: 20px;
}

.lands {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: lands;
}
.hand {
    display: flex;
    
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    grid-area: hand;
}

.artifactsEnchantments {
    display: flex;
    flex-direction: row;
    grid-area: artifacts-enchantments;
}

.commander {
    grid-area: command-zone;
}

.graveyardPopup {
    display: flex;
    background-color: rgb(37, 45, 63, 0.8);
    width: 75vw;
    height: 40vh;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.exile {
    grid-area: graveyard-exile;
}

.libraryPopup {
    width: 100vw;
    height: 80vh;
    display: grid;
    overflow: scroll;
    background-color: rgb(37, 45, 63, 0.8);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.libraryPopup::-webkit-scrollbar {
    display: none;
}

.cardWithButtons {
    display: flex;
    flex-direction: column;
}

.exilePopup {
    display: grid;
    background-color: rgb(37, 45, 63, 0.8);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 40vh;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.graveyardExile {
    display: flex;
    grid-area: graveyard-exile;
}