#register {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

.login-button {
    background-color: white;
    border-radius: 15px;
}

.logout-button {
    border-radius: 15px;
}

.section-3 {
    width: 100px;
    border-right: 2px solid white;
}

.link {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}