.container {
    display: flex;
}

.header{
    border-bottom: solid white 1px;
    background-color: rgb(37, 45, 63);
    border-bottom: 1px white solid;
    position: sticky;
    top: 0;
}

#home {
    text-decoration: none;;
    color: white;
}

#mycards {
    text-decoration: none;
    color: white;
}

.section {
    border-right: solid 2px white;
    width: 50px;
}

.section-2 {
    border-right: solid 2px white;
    width: 75px;
    margin-left: 10px;
}

#main {
    background-color: rgb(37, 45, 63);
    width: 100%;
    height: 100%;
    margin: 0;
}

.cards {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 0px;
    grid-auto-flow: row;
}

.search {
    width: 95vw;
    height: 2vh;
    background: white;
    border-radius: 25px;
    margin: 0 auto;
    display: block;
}

.page {
    margin: 0;
    background-color: rgb(37, 45, 63);
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(37, 45, 63);
    margin: 0;
}

.login-button {
    height: 20px;
    width: 60px;
}

.popup-content {
    display: grid;
    grid-template-columns: repeat(1, auto);
    background-color: rgb(37, 45, 63) 
}

.modal {
    font-size: 12px;
  }
  .modal > .header {
    color: white;
    width: 94%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }