.header {
    border-bottom: solid white 1px;
    background-color: rgb(37, 45, 63);
    position: sticky;
    top: 0;
}

#back {
    text-decoration: none;
    color: white;
    text-align: center;
}